
{%extends 'base.html'%}
{%block body%}
    <form action = "/" method = "post">
        <label>phone number</label>
        <input name ="phone_number" type="text">
        <label>FIRST NAME</label>
        <input name ="first_name" type="text">
        <label>MIDDLE NAME</label>
        <input name ="middle_name" type="text">
        <label>LAST NAME</label>
        <input name ="last_name" type="text">
        <label>BD</label>
        <input name ="BD" type="date">
        <label>gender</label>
        <select name="gender">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
        <label>AGE</label>
        <!-- <input name ="gender" type=""> -->
        <input name ="age" type = "number">
        <label>EMAIL</label>
        <input name ="email address" type = "email">
        <label>focus </label>
        <select name="focus">
            {%for l in list%}
            <option value = "{{l[0]}}"> {{l[0]}} </option>
            {%endfor%}
        </select>
        
        <input type="submit" value = "submit">
    </form>

    
    
{%endblock%}